header {
    width: 100%;
    padding: 0.75rem 2rem;  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    header .container {
        width: 100%;
    }
}

header .container div:nth-child(1) {
    display:flex;
    align-items:center;
}

.title {
    margin-left: 12px;
}

.logo {
    width: 3rem;
    border-radius: 10%;
}

@media (max-width: 768px) {
    .logo { width: 3rem; };
}

.menu-btn {
    display: none;
}

nav {
    display: flex;
}

@media (max-width: 992px) {
    nav {
        display: none;
    }

    .menu-btn {
        width: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        background-color: transparent;
        border: none;
    }

    .menu-btn span {
        background-color: var(--primary);
        margin-bottom: 5px;
        height: 2px;
    }

    .menu-btn span:first-child { width: 100%; }
    .menu-btn span:nth-child(2) { width: 60%; transition-duration: 0.3s; }
    .menu-btn span:last-child { width: 100%; }

    header .contact-me { display: none; }
}

nav a {
    text-decoration: none;
    font-size: var(--NormalSize);
    padding: 0px 16px;
    color: black;
}

header .contact-me {
    padding: 10px;
    width: 3rem;
    height: 2.2rem;
    text-align: center;
    color: #fff;
    background-color: var(--primary);
    cursor: pointer;
    transition: 0.3s;
}

header .contact-me:hover {
    color: #fff;
    background-color: var(--primary);
}