* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", "sans-serif";
    font-weight: 500;
    scroll-behavior: smooth;
}

:root {
    --primary: #121212;
    --secondary: #ccc;
    --text-color: #fff;
    --line-height: 1.8;
    --text-md: 1.25rem;
    --text-lg: 1.75rem;
    --main-dur: 0.3s;
    --main-shadow: rgba(149, 157, 165, 0.2) 0px 0px 12px;
}

body::-webkit-scrollbar { width: 0.3rem; }
body::-webkit-scrollbar-track { background-color: transparent; }
body::-webkit-scrollbar-thumb { background-color: var(--secondary); }

::selection {
    background-color: var(--primary);
    color: var(--text-color);
}

img, i, .social {
    user-select: none;
}

button {
    cursor: pointer;
    outline: none;
}

textarea {
    resize: none;
}

.certificates, .projects, .contact {
    padding-top: 4rem;
}

.center {
    display: flex;
    align-items: center;
}

.section-title {
    text-align: center;
    font-size: 1.5rem;
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
    padding-bottom: 0.5rem;
    margin: 1.25rem auto;
    width: 12rem;
}

/* Landing */

.landing {
    margin-top: 8rem;
    margin-bottom: 4rem;
}

.landing .container {
    justify-content: space-between;
}

@media (max-width: 768px) { 
    .landing .container { 
        flex-direction: column;
        justify-content: center;
        gap: 2.5rem;
     } 
}

.landing .image img {
    width: 20rem;
    border-radius: 0.75rem;
}
@media (max-width: 768px) { .landing .image img { width: 100%; } }

.landing p {
    line-height: 1.8;
    margin-bottom: 0.25rem;
}

.landing p.text-md { font-size: var(--text-md); }
.landing p.text-lg { font-size: var(--text-lg); }

.work-btn {
    padding: 0.5rem;
    width: 12rem;
    margin-top: 0.5rem;
}

.landing .social {
    width: 12rem;
    margin-top: 0.75rem;
}
.social i {
    margin: 0.125rem;
}

/* Certificates */
.certificates .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

@media (max-width: 992px) {
    .certificates .container {
        grid-template-columns: 1fr;
    }
}

.certificate {
    display: grid;
    align-items: center;
    grid-template-columns: 40% 1fr;
    gap: 2rem;
    border: 1px solid var(--primary);
    padding: 1.5rem;
    border-radius: 0.5rem;
    line-height: 1.8;
}

@media (max-width: 490px) {
    .certificate {
        display: block;
    }
}

.certificate-title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

.certificates img, .projects img {
    filter: grayscale(100)
}

.certificate img {
    width: 100%;
}

/* Projects */
.projects .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.projects .control {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid var(--primary);
    background-color: transparent;
    outline: none;
}

.control:first-of-type {
    left: 0;
}

.control:last-of-type {
    right: 0;
}

@media (max-width: 992px) {
    .projects .wrapper { grid-template-columns: 1fr; }
}

.project {
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: var(--main-shadow);
    border: 1px solid var(--primary);
    padding: 1rem 0.5rem;
    display: grid; 
    justify-content: center;
    align-items: center;
    grid-template-columns: 24% 1fr;
    text-decoration: none;
}

.projects .container .project:first-child { grid-area: span 2; }

.project-title {
    font-size: 1.5rem;
    padding-bottom: 0.75rem;
}

.project-desc {
    width: 90%;
    line-height: 1.8;
}

.project-img {
    width: 100%;
    padding: 0.25rem;
    border-radius: 50%;
}

/* Contact */
.contact {
    padding-bottom: 4rem;
}

.contact .container {
    flex-direction: column;
}

.contact form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact label {
    margin-bottom: 1rem;
}

.contact label:not(:first-of-type) {
    margin-top: 1rem;
}

.contact input, .contact textarea {
    border: 1px solid var(--primary);
    outline: none;
    padding: 8px;
}

.contact textarea {
    resize: none;
    height: 160px;
    border-bottom: none;
}

/* Footer */
footer {
    background-color: var(--primary);
    color: var(--text-color);
}

footer .container {
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 0.5rem;
}

footer .copyrights {
    font-size: 0.75rem;
}
/* Utilities */
.md-content-width { padding: 0 4rem; }
@media (max-width: 992px) { .md-content-width { padding: 0 2rem; } }

.btn {
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
    transition-duration: var(--main-dur);
}

.btn:hover {
    background-color: var(--primary);
    color: var(--text-color);
}

/* End Utilities */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

@media (min-width: 768px) {
    .container {
      width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
      width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
      width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
      width: 1320px;
    }
}